.blank h1{
	color:#457abe;
}

.bridge{
	background: url('../images/bridge.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

.kyoto {
	background:url('http://farm4.staticflickr.com/3705/12462189063_0739b2bf38_o.jpg');
	/*background-color: black;*/
	background-size: 100%;
	min-height: 100%;
}

.kyoto h1{
	color: #b3a280;
}

.kyoto a{
	color: #d5d4ca;
}

.palace {
	background:url('http://farm4.staticflickr.com/3762/12462017585_696b1b4ba9_o.jpg');
	background-size: 100%;
	max-width: 100%;
}

.palace h1{
	color:white;
}

.rain{
	background: url('http://farm3.staticflickr.com/2864/12462183133_3dcabd058e_o.jpg') center top transparent;
	height: 100%;
	background-size: 100%, 100%;		
}

.rain h1{
	color: #385055;
}

.rain a{
	color: white;
}

