
html{
  margin: 0;
  height:100%;
  overflow: hidden;
}

body    {
  font-family: "futura", helvetica;
  background-size: 100%;
  height: 100%;
  margin: 0;
  color:#5D5D5D;
  overflow: hidden;
  }

.title h1 {
  margin: 0;
  font-size: 3.5em;
  float: right;
}

.title{
  margin-top: 2%;
  margin-left: 15%; 
  margin-right:2%;
  font-size: 2.4em;
}

.title ul{
  float: right;
}

.blurb {
  max-width: 600px;
  width: 45%;
  margin-top: 2%;
  margin-left: 50%; 
  /*font-size: 1.3em;*/
  max-height: 75%;
  overflow-y:auto;
}

.fill{
  min-width: 600px;
  max-width:80%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  height:70%;
  /*font-size: 1.2em;*/
  overflow-y:hidden;
}

.sidebar {
  width: 27%;
  float: left;
  border-right: 1px solid;
  padding: 1%;
  height: 100%;
  overflow-y: auto;

}

.mainbar {
  width: 67%;
  float: right;
  padding: 1%;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 10px 10px;
  line-height: 1;
  color: #fff;
  white-space: nowrap;
  background-color: #0088cc;
  border-radius: 5px;
  text-decoration: none;
/*  font-size: 1.1em;*/
}

.aboutbutton {
  margin-left: 40%;
}

.aboutbutton li{
  display:inline; 
  margin-right: 12px;
}

footer {
  position: absolute;
  margin-bottom: 10px;
  margin-right: 1%;
  bottom: 0;
  right: 0;
}

footer a{
  border-bottom: none;
  text-decoration: none;
  color:rgb(77,79,80);
}
footer a:hover{
  border-bottom: none;
  color:rgb(77,79,80);
}

/*#C44D58*/
