
@import "FuturaOblique.css";

html{
  margin: 0;
}

body    {
  font-family: "futura", helvetica;
  background-size: 100%;
  min-height: 100%;
  margin: 0;
  }

.navbar{
  font-size:1.2em;
}
.navbar li {
  margin-right: 10px;
  display:inline; 
}

.navbar a{
  text-decoration: none;
  color: rgb(113,121,121);
}

.navbar a:hover{
  color: rgb(77,79,80);
  border-bottom:2px solid;
}

.title h1 {
  margin: 0;
  font-size: 3.5em;
  float: right;
}

.title{
  margin-top: 2%;
  margin-left: 15%; 
  margin-right:2%;
  font-size: 2.4em;
}

.title ul{
  float: right;
}

.blurb {
  max-width: 600px;
  width: 45%;
  margin-top: 5%;
  margin-left: 50%; 
  /*margin-right: auto;*/
  font-size: 1.1em;
}

/*#C44D58*/
