
@import "FuturaOblique.css";

ul li { 
  display:inline; 
  }

html{
  margin: 0;
}

body    {
  font-family: "futura", helvetica;
  background-size: 100%;
  min-height: 100%;
  margin: 0;
  }

li {
  margin-right: 10px;
}

a{
  text-decoration: none;
  color: rgb(113,121,121);
}

a:hover{
  color: rgb(77,79,80);
  border-bottom:2px solid;
}

#title h1 {
  margin: 0;
  font-size: 3em;
  float: right;
}

#title{
  margin-top: 2%;
  margin-left: 15%; 
  margin-right:2%;
  font-size: 2.75em;
}

#title ul{
  float: right;
}
