<div class="barblue"><span ng-include="" src="'navbar.html'"></span> <span ng-include="" src="'symbolset.html'"></span></div>

<div class="fill">
	<div class="sidebar">
		<h2>Projects</h2>

		<a href="city_bytes"><div class= "project_plug">
			<h3>City Bytes</h3>
			<p>Visualizing sprawl in the America's cities</p>
		</div></a>

		<a href="nyc_taxis"><div class= "project_plug">
			<h3>NYC Taxis Clustering</h3>
			<p>Where commuters go from JFK Airport</p>
		</div></a>
<!-- 		<p>For experiences in marketing and business development roles, a copy of my resume can be found <i><a href="ChristopherTong.pdf" target="_blank">here</a></i></p>
		<h2>Languages</h2><p>Python, Javascript, HTML/CSS</p><h2>Libraries and Frameworks</h2><p>AngularJS, D3, Leaflet, Pandas</p><h2>Software</h2><p>Stata, R, iPython, Photoshop</p> -->
	</div>

<!-- 	<span class="mainbar">
		<h1>Projects <font size="5px"><i>- What I do outside my day job</i></font></h1>
		<p>Projects uploaded soon, but I did make this website ;)</p>
	</span> -->


	</div><div ng-include="" src="'footer.html'"></div>