@font-face {
    font-family: "futura";
    src: url('FuturaOblique.eot') format('embedded-opentype'),
    	 url('FuturaOblique.ttf') format('truetype'),
		 url('FuturaOblique.woff') format('woff'),
		 url('futuraoblique-webfont.svg#futura_oblique') format('svg');
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
}