@charset "UTF-8";
html {
    margin: 0;
    height: 100%;
    overflow: hidden
}

body {
    font-family: futura, helvetica;
    background-size: 100%;
    height: 100%;
    margin: 0;
    /*color: #5D5D5D;*/
    color: white;
    overflow: hidden
}

.title h1 {
    margin: 0;
    font-size: 3.5em;
    float: right
}

.title h2{
    margin: 0;
    font-size: 1.5em;
    float: left
}

.title {
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 2%;
    color: white;
    font-size: 2em
}

.title ul {
    float: right
}

.blurb {
/*    max-width: 500px;*/
    margin-top: 2%;
    margin-left: 10%;
    /*max-height: 75%;*/
    width: 90%;
    max-width: 370px;
    color:white;
}

.fill {
    min-width: 370px;
    max-width: 80%;
    margin: auto;
    /*margin-top: 3%;*/
    /*margin-bottom: 5%;*/
    height: 75%;
}

.sidebar {
    width: 70%;
    float: left;
    /*background-color: white;*/
    opacity: .6;
    /*border-right: 1px solid;*/
    padding: 3%;
    height: 100%;
    overflow-y: hidden;
    min-width: 500px;
}

.project_plug {
    /*width:150px;*/
    height: 100px;
    padding: 3%;
    position: relative;
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: 7px;
}

.project_plug:hover{
    color:grey  ;
}

.mainbar {
    width: 67%;
    float: right;
    padding: 1%
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 10px;
    line-height: 1;
    color: #fff;
    white-space: nowrap;
    background-color: #08c;
    border-radius: 5px;
    text-decoration: none
}

.aboutbutton {
    margin-left: 40%
}

.aboutbutton li {
    display: inline;
    margin-right: 12px
}

footer {
    position: absolute;
    margin-bottom: 10px;
    margin-right: 1%;
    bottom: 0;
    right: 0
}

footer a {
    border-bottom: 0;
    text-decoration: none;
    color: #4d4f50
}

footer a:hover {
    border-bottom: 0;
    color: #4d4f50
}

.navbar {
    font-size: 1.1em;
    display: inline-block
}

.navbar li {
    margin-right: 10px;
    display: inline
}

.navbar a {
    text-decoration: none;
    color: #717979
}

.navbar a:hover {
    color: #4d4f50;
    border-bottom: 1px solid
}

.symbolset {
    float: right;
    display: inline-block
}

.barred {
    border-top: 5px solid #C44D58
}

.barblue {
    border-top: 5px solid #457abe;
    color: white;
}

.bargreen {
    border-top: 5px solid #58BE45
}

#name {
    border-bottom: 0;
    font-size: 1.3em;
    font-family: helvetica
}

.barred #name {
    color: #C44D58
}

.barblue #name {
    color: white;
}

.bargreen #name {
    color: #58BE45
}

.transition {
    -webkit-transition: all 1.25s ease-in-out;
    -moz-transition: all 1.25s ease-in-out;
    -o-transition: all 1.25s ease-in-out;
    transition: all 1.25s ease-in-out;
}

.blank {
    background: url(../images/38eecab8.blank.png);
    background-size: 100%
}

.blank h1 {
    color: #457abe
}

.bridge {
    background: url(../images/bridge.png);
    background-repeat: no-repeat;
    background-size: 100%
}

.kyoto {
    background: url(http://farm4.staticflickr.com/3705/12462189063_0739b2bf38_o.jpg);
    background-size: 100%;
    min-height: 100%
}

.kyoto h1 {
    color: #b3a280
}

.kyoto a {
    color: #d5d4ca
}

.palace {
    background: url(http://farm4.staticflickr.com/3762/12462017585_696b1b4ba9_o.jpg);
    background-size: 100%;
    max-width: 100%
}

.palace h1 {
    color: #fff
}

.girl{
    background: url(http://farm4.staticflickr.com/3791/13277680845_755875f97f_o.jpg);
    background-size: 100%;
    max-width: 100%
}

.lights{
    background: url(https://c2.staticflickr.com/8/7131/13278425834_0340c20281_o.jpg);
    background-size: 100%;
    max-width: 100%
}

.amsterdam{
    background: url(https://c1.staticflickr.com/3/2844/13278309854_176de44cd2_o.jpg);
    background-size: 100%;
    max-width: 100%;
    /*opacity: .5;*/
}


.rain {
    background: url(http://farm3.staticflickr.com/2864/12462183133_3dcabd058e_o.jpg) center top transparent;
    height: 100%;
    background-size: 100%, 100%
}

.rain h1 {
    color: #385055
}

.rain a {
    color: #fff
}


@media (max-width: 1000px) {

    .palace {
        background-size: 1200px 900px; /* Force the image to its minimum width */
        background-repeat:no-repeat;
        background-position: center center;
    }

    .rain {
        background-size: 1200px 900px; /* Force the image to its minimum width */
        background-repeat:no-repeat;
        background-position: center center;
    }

    .kyoto {
        background-size: 1200px 900px; /* Force the image to its minimum width */
        background-repeat:no-repeat;
        background-position: center center;
    }

    .amsterdam {
        background-size: 1200px 900px; /* Force the image to its minimum width */
        background-repeat:no-repeat;
        background-position: center 40%;
    }

    .lights {
        background-size: 1000px; /* Force the image to its minimum width */
        background-repeat:no-repeat;
        background-position: center center;
    }

    .title {
        font-size: 1em;
        margin-left: 2%;
        font-size: 1.2em;
    }

    .title ul {
        float: left;
    }

    .sidebar{
        width: 370px;
    }

}

.noclicks {
    pointer-events: none
}

.point {
    opacity: .6;
    fill: #2c12e9
}

.arcs {
    opacity: .1;
    stroke: gray;
    stroke-width: 3
}

.flyers {
    stroke-width: 1;
    opacity: .6;
    stroke: #8b0000
}

.arc,
.flyer {
    stroke-linejoin: round;
    fill: none
}

.land {
    fill: #5D5D5D
}

.info {
    float: left;
    width: 35%;
    font-size: 1em;
    margin-top: 7%;
    margin-left: 7%;
    margin-right: 7%;
    max-height: 70%;
    overflow-y: auto
}

#tooltip {
    position: absolute;
    z-index: 10;
    width: 200px;
    height: 20px;
    padding: 10px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, .4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, .4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .4);
    pointer-events: none
}

#tooltip.hidden {
    display: none
}

#tooltip p {
    margin: 0;
    font-size: 16px;
    line-height: 20px
}

@font-face {
    font-family: SSSocial;
    src: url(../fonts/ss-social-circle.eot);
    src: url(../fonts/ss-social-circle.eot?#iefix) format('embedded-opentype'), url(../fonts/ss-social-circle.woff) format('woff'), url(../fonts/ss-social-circle.ttf) format('truetype'), url(../fonts/ss-social-circle.svg#SSSocialCircle) format('svg');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: SSSocial;
    src: url(../fonts/ss-social-regular.eot);
    src: url(../fonts/ss-social-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/ss-social-regular.woff) format('woff'), url(../fonts/ss-social-regular.ttf) format('truetype'), url(../fonts/ss-social-regular.svg#SSSocialRegular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: SSSocial;
    src: url(../fonts/ss-social-circle.eot);
    src: url(../fonts/ss-social-circle.eot?#iefix) format('embedded-opentype'), url(../fonts/ss-social-circle.woff) format('woff'), url(../fonts/ss-social-circle.ttf) format('truetype'), url(../fonts/ss-social-circle.svg#SSSocialCircle) format('svg');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: SSSocial;
    src: url(../fonts/ss-social-regular.eot);
    src: url(../fonts/ss-social-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/ss-social-regular.woff) format('woff'), url(../fonts/ss-social-regular.ttf) format('truetype'), url(../fonts/ss-social-regular.svg#SSSocialRegular) format('svg');
    font-weight: 400;
    font-style: normal
}

.ss-icon,
.ss-icon.ss-social,
.ss-icon.ss-social-circle,
[class*=" ss-"].right:after,
[class*=" ss-"]:before,
[class*=" ss-"][class*=" ss-social"].right:after,
[class*=" ss-"][class*=" ss-social"]:before,
[class^=ss-].right:after,
[class^=ss-]:before,
[class^=ss-][class*=" ss-social"].right:after,
[class^=ss-][class*=" ss-social"]:before {
    font-family: SSSocial;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased
}

.ss-icon.ss-social-circle,
[class*=" ss-"].ss-social-circle.right:after,
[class*=" ss-"].ss-social-circle:before,
[class^=ss-].ss-social-circle.right:after,
[class^=ss-].ss-social-circle:before {
    font-weight: 700
}

[class^=ss-].right:before,
[class^=ss-][class*=" ss-social"].right:before {
    display: none;
    content: ''
}

.ss-facebook.right:after,
.ss-facebook:before {
    content: ''
}

.ss-twitter.right:after,
.ss-twitter:before {
    content: ''
}

.ss-linkedin.right:after,
.ss-linkedin:before {
    content: ''
}

.ss-googleplus.right:after,
.ss-googleplus:before {
    content: ''
}

.ss-tumblr.right:after,
.ss-tumblr:before {
    content: ''
}

.ss-wordpress.right:after,
.ss-wordpress:before {
    content: ''
}

.ss-blogger.right:after,
.ss-blogger:before {
    content: ''
}

.ss-posterous.right:after,
.ss-posterous:before {
    content: ''
}

.ss-youtube.right:after,
.ss-youtube:before {
    content: ''
}

.ss-vimeo.right:after,
.ss-vimeo:before {
    content: ''
}

.ss-flickr.right:after,
.ss-flickr:before {
    content: ''
}

.ss-instagram.right:after,
.ss-instagram:before {
    content: ''
}

.ss-pinterest.right:after,
.ss-pinterest:before {
    content: ''
}

.ss-dribbble.right:after,
.ss-dribbble:before {
    content: ''
}

.ss-behance.right:after,
.ss-behance:before {
    content: ''
}

.ss-github.right:after,
.ss-github:before {
    content: ''
}

.ss-octocat.right:after,
.ss-octocat:before {
    content: ''
}

.ss-paypal.right:after,
.ss-paypal:before {
    content: ''
}

.ss-foursquare.right:after,
.ss-foursquare:before {
    content: ''
}

.ss-skype.right:after,
.ss-skype:before {
    content: ''
}

.ss-rdio.right:after,
.ss-rdio:before {
    content: ''
}

.ss-spotify.right:after,
.ss-spotify:before {
    content: ''
}

.ss-lastfm.right:after,
.ss-lastfm:before {
    content: ''
}

.ss-mail.right:after,
.ss-mail:before {
    content: '✉'
}

.ss-like.right:after,
.ss-like:before {
    content: '👍'
}

.ss-rss.right:after,
.ss-rss:before {
    content: ''
}

@font-face {
    font-family: futura;
    src: url(../fonts/FuturaOblique.eot) format('embedded-opentype'), url(../fonts/FuturaOblique.ttf) format('truetype'), url(../fonts/FuturaOblique.woff) format('woff'), url(../fonts/futuraoblique-webfont.svg#futura_oblique) format('svg');
    font-weight: 700;
    -webkit-font-smoothing: antialiased
}

@font-face {
    font-family: futura;
    src: url(../fonts/FuturaOblique.eot) format('embedded-opentype'), url(../fonts/FuturaOblique.ttf) format('truetype'), url(../fonts/FuturaOblique.woff) format('woff'), url(../fonts/futuraoblique-webfont.svg#futura_oblique) format('svg');
    font-weight: 700;
    font-style: oblique;
    -webkit-font-smoothing: antialiased
}

@font-face {
    font-family: futura;
    src: url(../fonts/FuturaOblique.eot) format('embedded-opentype'), url(../fonts/FuturaOblique.ttf) format('truetype'), url(../fonts/FuturaOblique.woff) format('woff'), url(../fonts/futuraoblique-webfont.svg#futura_oblique) format('svg');
    font-weight: 700;
    -webkit-font-smoothing: antialiased
}

@font-face {
    font-family: futura;
    src: url(../fonts/FuturaOblique.eot) format('embedded-opentype'), url(../fonts/FuturaOblique.ttf) format('truetype'), url(../fonts/FuturaOblique.woff) format('woff'), url(../fonts/futuraoblique-webfont.svg#futura_oblique) format('svg');
    font-weight: 700;
    font-style: oblique;
    -webkit-font-smoothing: antialiased
}